header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
}


.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
	margin-right: 10px;
}

/* Style for links */
nav a {
  text-decoration: underline;
  color: black;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
}

header nav {
	padding-right: 50px;
}